body {
  background-color: lightskyblue;

}
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 45px;
  text-align: center;
  margin-bottom: 0;
}
p {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#subgreeting {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 45px;
  text-align: center;
}

.bkgdimage {
  height: 100%;
  width: 100%;
  position: fixed;
  filter: blur(.15rem) grayscale(35%) brightness(35%);
}
.header {
  width: 600px;
  position: absolute;
  top: 0;
  left: 25%;
}
.redbox{
  /*background-color: red;*/
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 400px;

}
.bluebox{
  /*background-color: blue;*/
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 200px;
  filter: grayscale(100%);

}
.yellowbox{
  /*background-color: yellow;*/
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}
.img1 {
  border-radius: 18px;
  position: relative;
  left: 50px;
  top: 50px;
}
.img2 {
  border-radius: 18px;
  position: relative;
  left: 50px;
  top: 100px;
}
.img3 {
  border-radius: 18px;
  position: relative;
  left: 50px;
  top: 50px;
}

.container {
  /*background-color: grey;*/
  width: 600px;
  position: absolute;
  top: 200px;
  left: 25%;
  color: white;

}
